*.pyc
.idea
__pycache__/*
zpywallet/__pycache__/*
dist
/build
/docs/build/doctrees/*
/docs/build/html/*
/docs/build/epub/*
!/docs/build/epub/*.epub
zpywallet.egg-info
zpywallet.egg-info
Icon
/notes.txt
